.email-text h3{
  font-weight: 200;
  color: #888888;
}

.email-text p{
  color: #888888;
  height: 3.75rem;
  margin-top: 0.625rem
}

.page-container{
  min-height: 100vh;
}

.products{
  margin-top: 1rem;
}

.products #products-container{
  padding: 0 4rem;
  width: calc(100% - 8rem);
  margin-top: 0;
}

.products button {
  width: 23.94rem;
}

footer{
  position: absolute;
  bottom: 0;
}