@media (min-width: 300px){
  small, strong, span{
    color:#888888;
  }

  .text-tiny{
    font-size: 0.75rem !important;
  }

  .text-small{
    font-size: 0.875rem !important;
  }

  .text-medium{
    font-size: 1rem !important;
  }

  .text-large{
    font-size: 1.25rem !important;
  }

  .button{
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 0.25rem;
    color: #707070;
  }

  .page-container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .page-container .sections-container{
    display:flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    padding: 0 1rem;
  }

  .title{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .title .divisor{
    border-top: 1px solid #707070;
    width: 100%;
  }

  .title strong{
    font-size: 1.125rem;
    color: #888888;
    margin-top: -0.65rem;
    background: #FFFFFF;
    padding: 0 1rem 0 1rem;
  }
  
  form input{
    height: 1.87rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    margin-top: 0.4rem;
    padding: 0 1rem;
    width: calc(100% - 2rem);
  }

  form input, lablel {
    display: block;
  }
  
  form label{
    color: #888888;
  }
  
  span.error{
    color: red !important;
    margin-top: 0.4rem !important;
  }
}

@media (min-width: 950px){
  .page-container .sections-container{
    width: 57.5rem;
  }
  
  form input{
    width: calc(21.25rem - 2rem);
  }
}
