

@media (min-width: 300px){
  .products{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.625rem;
    width: 100%;
  }

  .products #products-container{
    margin-top: 3.125rem;
    display: inline-flex;
    width: 100%;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .products #products-container .product{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .products #products-container .product img{
    width: 10.562rem;
    height: 8rem;
    border: 1px solid #707070;
  }

  .products #products-container .product .product-info{
    display: flex;
    flex-direction: column;
    width: 13.75rem;
    margin-left: 1.437rem;
  }
  
  .products #products-container .product .product-info small{
    margin-top: 0.8125rem;
  }
  
  .products #products-container .product .product-info .description{
    display: none;
  }
  
  .products #products-container .product .product-info strong{
    margin: 0.375rem 0;
  }

  .products #products-container .product .product-info strong + small{
    margin-top: 0;
  }

  .products #products-container .product .product-info button{
    width: 100%;
    padding: 0.375rem 0;
    margin-top: 0.625rem;
  }

  .products button{
    margin-top: 3.312rem;
    padding: 0.625rem 0;
    width: 16.27rem;
  }
}

@media (min-width: 600px){
  .products #products-container .product{
    display: flex;
    flex-direction: column;
    max-width: 12.5rem;
  }
  
  .products #products-container .product img{
    width: 12.5rem;
    height: 9.375rem;
    border: 1px solid #707070;
  }

  .products #products-container .product .product-info{
    margin: 0;
    width:100%;
  }

  .products #products-container .product .product-info small{
    margin: 0;
  }
  
  .products #products-container .product .product-info span{
    margin-top: 0.875rem;
  }
  
  .products #products-container .product .product-info .description{
    display:flex;
    height: 3.75rem;
    margin-top: 0.625rem;
    height: 3.75rem;
  }
  
  .products #products-container .product .product-info strong{
    margin: 0.375rem 0;
  }

  .products #products-container .product .product-info button{
    width: 100%;
  }

  .products button{
    margin-top: 3.25rem;
  }
}