@media (min-width: 300px){
  .alg{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 1.812rem;
  }
  
  .alg .text-alg{
    width: 100%;
  }

  .alg .text-alg h3{
    font-weight: 200;
    color: #888888;
    margin-bottom: 1.06rem;
  }
  
  .alg .text-alg p{
    color: #888888;
  }

  .alg form{
    margin-top: 1.875rem;
  } 

  .alg form .input-item + .input-item {
    margin-top: 1.25rem;
  }

  .alg form .checkboxes {
    display: flex;
    margin-top: 1.25rem;
    width: 100%;
  }

  .alg form .checkbox-item { 
    display: flex;
    align-items: center;
  }
  
  .alg form .checkboxes  .checkbox-item + .checkbox-item{
    margin-left: 2.50rem;
  }
  
  .alg form .checkboxes input {
    margin-top: 0px;
    width: 0.87rem;
  }
  
  .alg form .checkboxes label{
    margin-left: 0.31rem;
  }

  .alg form button {
    width: 100%;
    padding: 0.625rem 0;
    margin-top: 1.25rem;
  }
}

@media (min-width: 950px){
  .alg{
    flex-direction: row;
  }

  .alg .text-alg{
    width: 32.5rem;
    margin-right: 3.75rem;
  }

  .alg .text-alg p{
    line-height: 1.15rem;
  }

  .alg #alg-form{
    margin: 0;
  }
}